{
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "airbnb"
  ],
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true,
    "mocha": true
  },
  "rules": {
    "quotes": 0,
    "react/jsx-boolean-value": 1,
    "forbid-prop-types": "off",
    "no-param-reassign": ["error", { "props": false }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-extraneous-dependencies": [2, { "devDependencies": true } ],
    "no-underscore-dangle":["error",{"allow": ["_id"]}],
    "new-cap": ["error", {"capIsNewExceptions":["Router"]}],
    "no-use-before-define": ["error", { "functions": false, "classes": true }]
  }
}
